@charset "utf-8";
html {
  height: 100%;
}
body {
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}
li {
  list-style: none;
}
p, ul {
  margin: 0;
  padding: 0;
}
div,li {
  box-sizing: border-box;
}
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}
.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}
.global_nav {
  display: flex;
  align-items: stretch;
}
.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img{
  width: 100%;
}
.section_inner {
  padding: 50px 10% 30px;
}
.key {
  height: 500px;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.key h1{
  font-size: 2.5rem;
}
.section_title {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.menu_title {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.caffee_menu_image {
  width: 20%;
  border-radius: 50%;
}
/* -----concept----- */
.concept_innner{
  display: flex;
}
.concept_innner p{
  padding: 0 15px;
  width: 60%;
}
.concept_innner img{
  padding: 0 15px;
  width: 35%;
}

/* -----recommended menu----- */
.section_background_img {
  background: url(../images/sample_menu_bg.jpg);
  background-position: bottom;
  background-size: 100%;
  background-attachment: fixed;
}
.recommended_menu {
  display: flex;
  justify-content: space-between;
}
.recommended_menu_content {
  display: flex;
  flex-direction: row-reverse;
  width: 49%;
  height: 230px;
}
.recommended_menu_img{
  width: 55%;
}
.recommended_menu_title{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

/* -----coffee menu----- */
.coffee_menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #fff;
  padding: 20px;
}
.coffee_menu_content{
  width: 49%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
}
.coffee_menu_title{
  width: 80%;
  padding: 10px;
}
.coffee_menu_image{
  width: 20%;
  border-radius: 50%;
}

/* -----access----- */
.access_content{
  display: flex;
}
.access_title{
  width: 80px;
}
.google_map{
  width: 100%;
}

/* -----footer------- */
.footer{
  background-color: #251e19;
  height: 75px;
  width: 100%;
  padding: 5px;
  position: absolute;
  bottom: 0;
}
.footer_nav{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.footer_logo{
  width: 100px;
}
.footer_nav_content{
  padding: 0 15px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.copy_right{
  color: #fff;
  text-align: center;
  font-size: 10px;
}